
@mixin sp-screen {
  @media screen and (max-width: 559px){
    @content;
  }
}

@mixin tab-screen {
  @media screen and (min-width: 560px) {
    @content;
  }
}

@mixin tab-screen02 {
  @media screen and (max-width: 959px) {
    @content;
  }
}


@mixin pc-screen {
  @media screen and (min-width: 960px) {
    @content;
  }
}