// フォント関係
$font_jp : 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ ゴシック',sans-serif;
$sp_fontSize: 1.4rem;

// 色
$company_color: #F4364C;
$company_color-dark: #CC0E28;