a:hover{
  opacity: 0.7;
}

.external{
  display: flex;
  justify-content: space-between;
  margin-right: 10px;

  &::after{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    background: url('/assets/img/external.png') no-repeat center / contain;
  }
}