
.c-button-arrow , .c-button-arrow--red{
  &__box{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: solid 1px;
  }

  &__line{
    display: block;
    position: relative;

    &::before, &::after{
      content: '';
      display: block;
      width: 8px;
      height: 1.5px;
      position: absolute;
    }

    &::before{
      top: 12.5px;
      left: 11px;
      transform: rotate(45deg);
    }

    &::after{
      top: 17.5px;
      left: 11px;
      transform: rotate(-45deg);
    }
  }
}

.c-button-arrow{
  &__box{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-color: #000;
  }

  &__line{
    &::before, &::after{
      background-color: #000;
    }
  }
}

.c-button-arrow--red{
  &__box{
    border-color: $company_color;
    margin-right: 10px;
  }

  &__line{

    &::before, &::after{
      background-color: $company_color;
    }
  }
}

.c-button-text{

  &__wrapper{
    display: block;
    width: 47%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding-bottom: 5%;

    @include pc-screen{
      width: 25%;
      padding-bottom: 15px;
    }

  }

  &__label{
    font-size: $sp_fontSize;
    display: inline-block;
  }

  &__line{
    display: block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    position: relative;
    top: -3px;

    @include pc-screen{
      margin-right: 25px;
    }

    &::before, &::after{
      content: '';
      display: block;
      width: 8px;
      height: 1.5px;
      position: absolute;
      background-color: #000;
    }

    &::before{
      top: 5px;
      left: 0;
      transform: rotate(45deg);
    }

    &::after{
      top: 10.5px;
      left: 0;
      transform: rotate(-45deg);
    }
  }
}

.c-button-large{
  display: block;
  width: 100%;
  background-color: $company_color-dark;
  font-size: $sp_fontSize;
  color: white;
  text-align: center;
  padding: 5% 3%;
  margin-top: 20px;

  @include tab-screen{
    margin-top: 20px;
  }

  @include pc-screen{
    width: 200px;
    padding: 1% 0;
    margin-top: 0;
    margin-left: 90px;
  }
}

.c-button-ham{
  display: block;
  position: relative;
  top: 3px;
  width: 32px;
  height: 1px;
  background-color: $company_color;
  transition: all 0.5s;
  
  &::before {
    display: block;
    content: '';
    width: 32px;
    position: absolute;
    top: 7px;
    height: 1px;
    background-color: $company_color;
     transition: all 0.5s;
  }
}

.c-button-ham--on{
  @extend .c-button-ham;
  transform: rotate(45deg);
 

  &::before{
    transform: rotate(-90deg);
    top: 1px;
    transition: all 0.5s;
  }
}