.c-contact{
  padding: 40px 0;

  @include pc-screen{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 55px 0;
  }

  &__text{
    color: #ffff;
    line-height: 2.12;

    @include pc-screen{
      width: 63%;
    }
  }
}
