.c-heading-01{
  &__title{
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 7%;

    @include pc-screen{
      margin-bottom: 25px;
    }
  }

  &__text{
    text-align: center;
    line-height: 1.75;
  }
}

.c-heading-02{
  &__title{
    margin-bottom: 2%;
    margin-top: 7%;

    @include pc-screen{
      margin-top: 25px;
    }
  }

  &__subtitle{
    font-size: 1.2rem;
    color: $company_color;
    margin-top: 5px;
  }

  &__text{
    font-size: $sp_fontSize;
    line-height: 1.35;
  }
}

.c-heading-03{
  font-size: 2.8rem;
  margin-bottom: 5%;
  margin-left: 20px;

  @include tab-screen{
    margin-bottom: 0;
  }
}

.c-heading-03__subtitle{
  display: inline-block;
  text-align: center;
  font-size: 1.2rem;
  margin-left: 3%;
}

