.c-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 70px;

  @include pc-screen{
    height: 80px;
  }
}

.c-nav__wrapper{
 position: absolute;
 top: 69px;
 left: -9%;
 width: 118%;
 background-color: #fff;
 padding-bottom: 56px;

 @include pc-screen{
   position: initial;
   width: 100%;
   padding-bottom: 10px;
 }
}

.c-nav{

  &__container{
    @include pc-screen{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 20px;
    }
  }

  &__list{
    @include pc-screen{
      display: flex;
      align-items: center;
    }
  }

  &__item{
    font-size: 1.4rem;
    line-height: 1.75;
    padding: 13px 0;
    border-bottom: solid 1px #333333;

    @include pc-screen{
      padding: 0 5px;
      margin: 0 16px;
      border-bottom: none;
    }
  }
}