.c-news-list{
  font-size: $sp_fontSize;

  @include pc-screen{
    margin-top: 35px;
  }

  &__item{
    display: block;
    padding-bottom: 5%;
    margin-bottom: 20px;
    border-bottom: solid 1px #CCCCCC;

    @include pc-screen{
      display: flex;
      padding-bottom: 12px;
    }

    &:not(:first-of-type){
      margin-top: 15px;
    }
  }

  &__head{
    
    margin-left: 5px;
    margin-bottom: 12px;

    @include pc-screen{
      width: 250px;
      margin-bottom: 0;
    }
  }

  &__date{
    display: inline-block;
    width: 36%;

    @include pc-screen{
      width: 46%;
    }
  }

  &__label, &__label--red{
    width: 100px;
    padding: 5px 0;
    font-size: 1.2rem;
    text-align: center;
    display: inline-block;
    color: #fff;

    @include pc-screen{
      margin-left: 22px;
    }
  }

  &__label{
    background-color: #000;
  }

  &__label--red{
    background-color: $company_color-dark;
  }

  &__text{
    line-height: 1.37;

    @include pc-screen{
      width: calc(100% - 250px);
    }
  }
}
