.c-slider__wrapper{
  width: 100%;
  display: flex;
  position: relative;

  &::before{
    display: block;
    content: '';
    padding-top: 84%;

    @include pc-screen{
      padding-top: 37.1%;
    }
  }
}

.c-slider__item{
  width: 100%;
  position: absolute;
  opacity: 0;
}

@keyframes FadeOut {
  0% {
    opacity: 1;
  }  
  100%{
    opacity: 0;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}