.l-content-01{
  width: 100%;
  padding: 70px 2% 0;

  @include pc-screen{
    padding: 80px 20px 0;
    max-width: 1440px;
    margin: 0 auto;
  }

  img{
    width: 100%;
    height: auto;
  }
}

.l-content-02{
  width: 85%;
  margin: 0 auto;

  @include pc-screen{
    max-width: 1280px;
  }

  img{
    width: 100%;
    height: auto;
  }
}

.l-content-03{
  margin-top: 78px;
}

.l-content-04{
  margin-top: 200px; 
  padding: 40px 0 80px;

  @include pc-screen{
    margin-top: 150px;
    padding: 80px 0 80px;
  }
}

.l-content-05{
  width: 85%;
  margin: 150px auto 0;

  @include pc-screen{
    width: 59%;
    margin: 190px auto 0;
  }
}

.l-content-06{
  margin-top: 160px;

  @include pc-screen{
    margin-top: 185px;
  }
}