.p-button-box-01{
  position: relative;

  &:hover{
    opacity: 0.7;
    cursor: pointer;
  }
}

.p-button-box-02{
  margin-top: 30px;
  width: 100%;

  &:not(:first-child){
    margin-top: 36px;
  }

  @include tab-screen{
    width: calc((100% - 16px) / 2);

    &:not(:nth-child(2n+2)){
      margin-right: 16px;
    }
  }

  @include pc-screen{
    width: calc((100% - 120px) / 4);

    &:not(:nth-child(2n+2)){
      margin-right: 0;
    }

    &:not(:nth-child(4n+4)){
      margin-right: 40px;
    }

  }

  &:hover{
    opacity: 0.7;
    cursor: pointer;
  }

  &__text{
    margin-top: 25px;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #333333;
  }
}

.p-button-box-03{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 42px;
}

.p-button-box-04{
  height: 32px;

  &__label{
    display: block;
    color: $company_color;
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 26px;
  }
}

.p-button-group{
  margin-top: 36px;
  width: 100%;

  @include tab-screen{
    display: flex;
    flex-wrap: wrap;
  }

  @include pc-screen{
    margin-top: 30px;
  }


  &__item{
    display: block;

    &:not(:last-of-type){
      margin-bottom: 50px;
    }

    @include tab-screen{
      width: calc((100% - 16px) / 2);

      &:not(:nth-child(2n+2)){
        margin-right: 16px;
      }
    }

    @include pc-screen{
      width: calc((100% - 80px) / 3);

      &:not(:nth-child(3n+3)){
        margin-right: 40px;
      }

      &:not(:nth-child(2n+2)){
        margin-right: 0;
      }

      &:first-child{
        margin-right: 40px;
      }
    }
  }
}

.p-button-group--mt0{
  @extend .p-button-group;
  margin-top: 0;
}