@charset "UTF-8";
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* font-sizeは16pxの62.5%の10px */
body {
  font-size: 1.6rem;
  font-family: "YuGothic", "Yu Gothic", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", "Meiryo", "ＭＳ ゴシック", sans-serif;
}

/*font-size : 14px と同等*/
h1 {
  font-size: 5.6rem;
}

/* font-size: 56px と同等 */
h2 {
  font-size: 2.8rem;
}

/* font-size: 28px と同等 */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

a:hover {
  opacity: 0.7;
}

.external {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 10px;
}

.external::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  background: url("/assets/img/external.png") no-repeat center/contain;
}

.l-content-01 {
  width: 100%;
  padding: 70px 2% 0;
}

@media screen and (min-width: 960px) {
  .l-content-01 {
    padding: 80px 20px 0;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.l-content-01 img {
  width: 100%;
  height: auto;
}

.l-content-02 {
  width: 85%;
  margin: 0 auto;
}

@media screen and (min-width: 960px) {
  .l-content-02 {
    max-width: 1280px;
  }
}

.l-content-02 img {
  width: 100%;
  height: auto;
}

.l-content-03 {
  margin-top: 78px;
}

.l-content-04 {
  margin-top: 200px;
  padding: 40px 0 80px;
}

@media screen and (min-width: 960px) {
  .l-content-04 {
    margin-top: 150px;
    padding: 80px 0 80px;
  }
}

.l-content-05 {
  width: 85%;
  margin: 150px auto 0;
}

@media screen and (min-width: 960px) {
  .l-content-05 {
    width: 59%;
    margin: 190px auto 0;
  }
}

.l-content-06 {
  margin-top: 160px;
}

@media screen and (min-width: 960px) {
  .l-content-06 {
    margin-top: 185px;
  }
}

.p-button-box-01 {
  position: relative;
}

.p-button-box-01:hover {
  opacity: 0.7;
  cursor: pointer;
}

.p-button-box-02 {
  margin-top: 30px;
  width: 100%;
}

.p-button-box-02:not(:first-child) {
  margin-top: 36px;
}

@media screen and (min-width: 560px) {
  .p-button-box-02 {
    width: calc((100% - 16px) / 2);
  }
  .p-button-box-02:not(:nth-child(2n+2)) {
    margin-right: 16px;
  }
}

@media screen and (min-width: 960px) {
  .p-button-box-02 {
    width: calc((100% - 120px) / 4);
  }
  .p-button-box-02:not(:nth-child(2n+2)) {
    margin-right: 0;
  }
  .p-button-box-02:not(:nth-child(4n+4)) {
    margin-right: 40px;
  }
}

.p-button-box-02:hover {
  opacity: 0.7;
  cursor: pointer;
}

.p-button-box-02__text {
  margin-top: 25px;
  padding-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 1px #333333;
}

.p-button-box-03 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 42px;
}

.p-button-box-04 {
  height: 32px;
}

.p-button-box-04__label {
  display: block;
  color: #F4364C;
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 26px;
}

.p-button-group, .p-button-group--mt0 {
  margin-top: 36px;
  width: 100%;
}

@media screen and (min-width: 560px) {
  .p-button-group, .p-button-group--mt0 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 960px) {
  .p-button-group, .p-button-group--mt0 {
    margin-top: 30px;
  }
}

.p-button-group__item {
  display: block;
}

.p-button-group__item:not(:last-of-type) {
  margin-bottom: 50px;
}

@media screen and (min-width: 560px) {
  .p-button-group__item {
    width: calc((100% - 16px) / 2);
  }
  .p-button-group__item:not(:nth-child(2n+2)) {
    margin-right: 16px;
  }
}

@media screen and (min-width: 960px) {
  .p-button-group__item {
    width: calc((100% - 80px) / 3);
  }
  .p-button-group__item:not(:nth-child(3n+3)) {
    margin-right: 40px;
  }
  .p-button-group__item:not(:nth-child(2n+2)) {
    margin-right: 0;
  }
  .p-button-group__item:first-child {
    margin-right: 40px;
  }
}

.p-button-group--mt0 {
  margin-top: 0;
}

.p-header-group {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 2;
}

.c-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 70px;
}

@media screen and (min-width: 960px) {
  .c-header {
    height: 80px;
  }
}

.c-nav__wrapper {
  position: absolute;
  top: 69px;
  left: -9%;
  width: 118%;
  background-color: #fff;
  padding-bottom: 56px;
}

@media screen and (min-width: 960px) {
  .c-nav__wrapper {
    position: initial;
    width: 100%;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 960px) {
  .c-nav__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 20px;
  }
}

@media screen and (min-width: 960px) {
  .c-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.c-nav__item {
  font-size: 1.4rem;
  line-height: 1.75;
  padding: 13px 0;
  border-bottom: solid 1px #333333;
}

@media screen and (min-width: 960px) {
  .c-nav__item {
    padding: 0 5px;
    margin: 0 16px;
    border-bottom: none;
  }
}

.c-slider__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.c-slider__wrapper::before {
  display: block;
  content: '';
  padding-top: 84%;
}

@media screen and (min-width: 960px) {
  .c-slider__wrapper::before {
    padding-top: 37.1%;
  }
}

.c-slider__item {
  width: 100%;
  position: absolute;
  opacity: 0;
}

@-webkit-keyframes FadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes FadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.c-heading-01__title {
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 7%;
}

@media screen and (min-width: 960px) {
  .c-heading-01__title {
    margin-bottom: 25px;
  }
}

.c-heading-01__text {
  text-align: center;
  line-height: 1.75;
}

.c-heading-02__title {
  margin-bottom: 2%;
  margin-top: 7%;
}

@media screen and (min-width: 960px) {
  .c-heading-02__title {
    margin-top: 25px;
  }
}

.c-heading-02__subtitle {
  font-size: 1.2rem;
  color: #F4364C;
  margin-top: 5px;
}

.c-heading-02__text {
  font-size: 1.4rem;
  line-height: 1.35;
}

.c-heading-03 {
  font-size: 2.8rem;
  margin-bottom: 5%;
  margin-left: 20px;
}

@media screen and (min-width: 560px) {
  .c-heading-03 {
    margin-bottom: 0;
  }
}

.c-heading-03__subtitle {
  display: inline-block;
  text-align: center;
  font-size: 1.2rem;
  margin-left: 3%;
}

.c-footer {
  width: 100%;
  height: 73px;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-footer__text {
  color: #fff;
  line-height: 1.333;
}

.c-button-arrow__box, .c-button-arrow--red__box {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: solid 1px;
}

.c-button-arrow__line, .c-button-arrow--red__line {
  display: block;
  position: relative;
}

.c-button-arrow__line::before, .c-button-arrow__line::after, .c-button-arrow--red__line::before, .c-button-arrow--red__line::after {
  content: '';
  display: block;
  width: 8px;
  height: 1.5px;
  position: absolute;
}

.c-button-arrow__line::before, .c-button-arrow--red__line::before {
  top: 12.5px;
  left: 11px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-button-arrow__line::after, .c-button-arrow--red__line::after {
  top: 17.5px;
  left: 11px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-button-arrow__box {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-color: #000;
}

.c-button-arrow__line::before, .c-button-arrow__line::after {
  background-color: #000;
}

.c-button-arrow--red__box {
  border-color: #F4364C;
  margin-right: 10px;
}

.c-button-arrow--red__line::before, .c-button-arrow--red__line::after {
  background-color: #F4364C;
}

.c-button-text__wrapper {
  display: block;
  width: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #000;
  padding-bottom: 5%;
}

@media screen and (min-width: 960px) {
  .c-button-text__wrapper {
    width: 25%;
    padding-bottom: 15px;
  }
}

.c-button-text__label {
  font-size: 1.4rem;
  display: inline-block;
}

.c-button-text__line {
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  position: relative;
  top: -3px;
}

@media screen and (min-width: 960px) {
  .c-button-text__line {
    margin-right: 25px;
  }
}

.c-button-text__line::before, .c-button-text__line::after {
  content: '';
  display: block;
  width: 8px;
  height: 1.5px;
  position: absolute;
  background-color: #000;
}

.c-button-text__line::before {
  top: 5px;
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-button-text__line::after {
  top: 10.5px;
  left: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-button-large {
  display: block;
  width: 100%;
  background-color: #CC0E28;
  font-size: 1.4rem;
  color: white;
  text-align: center;
  padding: 5% 3%;
  margin-top: 20px;
}

@media screen and (min-width: 560px) {
  .c-button-large {
    margin-top: 20px;
  }
}

@media screen and (min-width: 960px) {
  .c-button-large {
    width: 200px;
    padding: 1% 0;
    margin-top: 0;
    margin-left: 90px;
  }
}

.c-button-ham, .c-button-ham--on {
  display: block;
  position: relative;
  top: 3px;
  width: 32px;
  height: 1px;
  background-color: #F4364C;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.c-button-ham::before, .c-button-ham--on::before {
  display: block;
  content: '';
  width: 32px;
  position: absolute;
  top: 7px;
  height: 1px;
  background-color: #F4364C;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.c-button-ham--on {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-button-ham--on::before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 1px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.c-news-list {
  font-size: 1.4rem;
}

@media screen and (min-width: 960px) {
  .c-news-list {
    margin-top: 35px;
  }
}

.c-news-list__item {
  display: block;
  padding-bottom: 5%;
  margin-bottom: 20px;
  border-bottom: solid 1px #CCCCCC;
}

@media screen and (min-width: 960px) {
  .c-news-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 12px;
  }
}

.c-news-list__item:not(:first-of-type) {
  margin-top: 15px;
}

.c-news-list__head {
  margin-left: 5px;
  margin-bottom: 12px;
}

@media screen and (min-width: 960px) {
  .c-news-list__head {
    width: 250px;
    margin-bottom: 0;
  }
}

.c-news-list__date {
  display: inline-block;
  width: 36%;
}

@media screen and (min-width: 960px) {
  .c-news-list__date {
    width: 46%;
  }
}

.c-news-list__label, .c-news-list__label--red {
  width: 100px;
  padding: 5px 0;
  font-size: 1.2rem;
  text-align: center;
  display: inline-block;
  color: #fff;
}

@media screen and (min-width: 960px) {
  .c-news-list__label, .c-news-list__label--red {
    margin-left: 22px;
  }
}

.c-news-list__label {
  background-color: #000;
}

.c-news-list__label--red {
  background-color: #CC0E28;
}

.c-news-list__text {
  line-height: 1.37;
}

@media screen and (min-width: 960px) {
  .c-news-list__text {
    width: calc(100% - 250px);
  }
}

.c-contact {
  padding: 40px 0;
}

@media screen and (min-width: 960px) {
  .c-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 55px 0;
  }
}

.c-contact__text {
  color: #ffff;
  line-height: 2.12;
}

@media screen and (min-width: 960px) {
  .c-contact__text {
    width: 63%;
  }
}

.u-bg-grey {
  background-color: #F3F5F4;
}

.u-bg-red {
  background-color: #F4364C;
}

.u-mt20 {
  margin-top: 20px;
}

@media screen and (max-width: 559px) {
  .u-sp-hide {
    display: none;
  }
}

@media screen and (max-width: 959px) {
  .u-tab-hide {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  .u-pc-hide {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */